-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: internutb
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cpd_applications`
--

DROP TABLE IF EXISTS `cpd_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cpd_applications` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `ic_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `passport_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `post` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programme_area` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `faculty_school_centre_section` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_type` enum('Training Course','Meeting','Conference','Seminar','Workshop','Working Visit','Work Placement','Industrial Placement') COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_date` date NOT NULL,
  `venue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `host_country` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `organiser_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registration_fee` decimal(10,2) DEFAULT NULL,
  `registration_fee_deadline` date DEFAULT NULL,
  `payment_preference` enum('bursar_office','pay_first_submit_receipt','pay_first_reimburse') COLLATE utf8mb4_unicode_ci NOT NULL,
  `registration_fee_includes` text COLLATE utf8mb4_unicode_ci,
  `other_benefits` text COLLATE utf8mb4_unicode_ci,
  `paper_title_1` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_first_author_1` tinyint(1) NOT NULL DEFAULT '0',
  `paper_title_2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_first_author_2` tinyint(1) NOT NULL DEFAULT '0',
  `relevance_to_post` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `expectations_upon_completion` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `publication_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `previous_event_type` enum('Training Course','Meeting','Conference','Seminar','Workshop','Working Visit','Work Placement','Industrial Placement') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `previous_event_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `previous_event_date` date DEFAULT NULL,
  `previous_event_venue` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paper_published` tinyint(1) NOT NULL DEFAULT '0',
  `publication_details` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `report_submitted` tinyint(1) NOT NULL DEFAULT '0',
  `airfare_provided_by_organiser` tinyint(1) NOT NULL DEFAULT '0',
  `flight_route` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `departure_date` date DEFAULT NULL,
  `arrival_date` date DEFAULT NULL,
  `ticket_purchase_preference` enum('cpd_secretariat','purchase_self_submit','purchase_self_reimburse') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `accommodation_provided_by_organiser` tinyint(1) NOT NULL DEFAULT '0',
  `hotel_name_address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `accommodation_similar_to_venue` tinyint(1) NOT NULL DEFAULT '0',
  `airport_transfer_provided` tinyint(1) NOT NULL DEFAULT '0',
  `daily_transportation_provided` tinyint(1) NOT NULL DEFAULT '0',
  `daily_allowance_provided` tinyint(1) NOT NULL DEFAULT '0',
  `allowance_amount` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `visa_required` tinyint(1) NOT NULL DEFAULT '0',
  `contributed_to_consultancy_fund` tinyint(1) NOT NULL DEFAULT '0',
  `contribution_amount` decimal(10,2) DEFAULT NULL,
  `entitlement_amount` decimal(10,2) DEFAULT NULL,
  `fund_purpose` text COLLATE utf8mb4_unicode_ci,
  `status` enum('draft','submitted','under_review','approved','rejected','rework') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `head_of_section_notes` text COLLATE utf8mb4_unicode_ci,
  `head_of_section_reviewed_at` timestamp NULL DEFAULT NULL,
  `head_of_section_reviewed_by` bigint unsigned DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `event_brochure` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Event brochure or flyer',
  `paper_abstract` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Paper abstract or summary',
  `previous_certificate` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Certificate from previous event',
  `publication_paper` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Published paper or article',
  `travel_documents` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Travel itinerary or documents',
  `accommodation_details` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Accommodation booking details',
  `budget_breakdown` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Detailed budget breakdown',
  `other_documents` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Other supporting documents',
  PRIMARY KEY (`id`),
  KEY `cpd_applications_user_id_foreign` (`user_id`),
  KEY `cpd_applications_head_of_section_reviewed_by_foreign` (`head_of_section_reviewed_by`),
  CONSTRAINT `cpd_applications_head_of_section_reviewed_by_foreign` FOREIGN KEY (`head_of_section_reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cpd_applications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cpd_applications`
--

LOCK TABLES `cpd_applications` WRITE;
/*!40000 ALTER TABLE `cpd_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `cpd_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cpd_recommendations`
--

DROP TABLE IF EXISTS `cpd_recommendations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cpd_recommendations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cpd_application_id` bigint unsigned NOT NULL,
  `recommended_by_user_id` bigint unsigned NOT NULL,
  `applicant_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applicant_post` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programme_area` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `faculty_school_centre_section` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_type` enum('Training Course','Meeting','Conference','Seminar','Workshop','Working Visit','Work Placement','Industrial Placement') COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_date` date NOT NULL,
  `suitability_statement` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `reasons_for_recommendation` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `expectations_upon_completion` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recommended_benefits_allowances` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `staff_recommended_to_discharge_duties` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dean_comments_recommendation` text COLLATE utf8mb4_unicode_ci,
  `has_contributed_to_consultancy_fund` tinyint(1) NOT NULL DEFAULT '0',
  `consultancy_fund_details` text COLLATE utf8mb4_unicode_ci,
  `recommend_use_consultancy_fund` tinyint(1) NOT NULL DEFAULT '0',
  `consultancy_fund_rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `programme_leader_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programme_leader_post` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programme_leader_signed_at` timestamp NULL DEFAULT NULL,
  `dean_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dean_post` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dean_signed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cpd_recommendations_cpd_application_id_foreign` (`cpd_application_id`),
  KEY `cpd_recommendations_recommended_by_user_id_foreign` (`recommended_by_user_id`),
  CONSTRAINT `cpd_recommendations_cpd_application_id_foreign` FOREIGN KEY (`cpd_application_id`) REFERENCES `cpd_applications` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cpd_recommendations_recommended_by_user_id_foreign` FOREIGN KEY (`recommended_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cpd_recommendations`
--

LOCK TABLES `cpd_recommendations` WRITE;
/*!40000 ALTER TABLE `cpd_recommendations` DISABLE KEYS */;
INSERT INTO `cpd_recommendations` VALUES (1,1,2,'Ampuan Muhammad Abdul Matin Bin Ampuan Shahmali','Staff','Data Analytics','Politeknik Brunei','Workshop','CPD Event - Workshop (ID: 1)','2025-08-03','axg','axv','saxg','adsg','adg','adg',0,'adg',1,'adg','adg','adg',NULL,'adgagd','adg',NULL,'2025-08-01 18:58:58','2025-08-13 23:04:38');
/*!40000 ALTER TABLE `cpd_recommendations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_applications`
--

DROP TABLE IF EXISTS `job_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_applications` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `job_posting_id` bigint unsigned NOT NULL,
  `cv_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cover_letter` text COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','under_review','accepted','rejected','interview_scheduled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `applied_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `job_applications_user_id_foreign` (`user_id`),
  KEY `job_applications_job_posting_id_foreign` (`job_posting_id`),
  CONSTRAINT `job_applications_job_posting_id_foreign` FOREIGN KEY (`job_posting_id`) REFERENCES `job_postings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `job_applications_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_applications`
--

LOCK TABLES `job_applications` WRITE;
/*!40000 ALTER TABLE `job_applications` DISABLE KEYS */;
INSERT INTO `job_applications` VALUES (1,1,1,'cvs/cv_1_1760498129.pdf',NULL,'rejected','Unfortunately, your application was not successful at this time.','2025-10-14 19:15:29','2025-10-14 19:15:50','2025-10-14 19:15:29','2025-10-14 19:15:50');
/*!40000 ALTER TABLE `job_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_postings`
--

DROP TABLE IF EXISTS `job_postings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_postings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `employment_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deadline` date NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `requirements` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('active','closed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `applications_count` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_postings`
--

LOCK TABLES `job_postings` WRITE;
/*!40000 ALTER TABLE `job_postings` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_postings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memo_requests`
--

DROP TABLE IF EXISTS `memo_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memo_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted',
  `form_files` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `memo_file` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `admin_notes` text COLLATE utf8mb4_unicode_ci,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `reviewed_by` bigint unsigned DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `memo_requests_user_id_foreign` (`user_id`),
  KEY `memo_requests_reviewed_by_foreign` (`reviewed_by`),
  CONSTRAINT `memo_requests_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `memo_requests_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memo_requests`
--

LOCK TABLES `memo_requests` WRITE;
/*!40000 ALTER TABLE `memo_requests` DISABLE KEYS */;
INSERT INTO `memo_requests` VALUES (1,3,'Memo TESTING','Test Memo Please send Memo','approved','[\"memo-forms\\/1758512085_Borang Permohonan Visa (2).pdf\"]','memo-files/memo_1758512120_Permohonan Bagi Satu Pas Tanggungan (Borang 25).pdf','This is good here is the memo ur looking for',NULL,1,'2025-09-21 19:35:20','2025-09-21 19:34:45','2025-09-21 19:35:20');
/*!40000 ALTER TABLE `memo_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `people`
--

DROP TABLE IF EXISTS `people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `people` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ic_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ic_colour` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date NOT NULL,
  `age` int NOT NULL,
  `gender` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `citizenship` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nationality` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `race` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `religion` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `starting_of_service_date` date NOT NULL,
  `years_of_service` int NOT NULL,
  `trained_untrained` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `terms_of_service` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `highest_academic_qualification` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `current_position` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `current_position_appointment_date` date NOT NULL,
  `salary_scale` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `area_of_expertise` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bdqf_level_taught` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `people`
--

LOCK TABLES `people` WRITE;
/*!40000 ALTER TABLE `people` DISABLE KEYS */;
/*!40000 ALTER TABLE `people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Staff Member',
  `is_approved` tinyint(1) NOT NULL DEFAULT '0',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `ic_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `passport_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `post` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `programme_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `faculty_school_centre_section` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `faculty` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `department` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `employment_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salary_scale` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `current_salary` decimal(10,2) DEFAULT NULL,
  `duration_of_appointment` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_full_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_ic_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_citizenship` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_workplace` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_position` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_department` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spouse_address_country_of_origin` text COLLATE utf8mb4_unicode_ci,
  `spouse_address_brunei` text COLLATE utf8mb4_unicode_ci,
  `ic_color` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `age` int DEFAULT NULL,
  `sex` enum('Male','Female') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `place_of_birth` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nationality` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `citizenship` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `race` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `religion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `marital_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `address_of_country_of_origin` text COLLATE utf8mb4_unicode_ci,
  `address_in_brunei` text COLLATE utf8mb4_unicode_ci,
  `phone_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `emergency_contact_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `emergency_contact_phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `emergency_contact_relationship` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27  9:37:10
